node_modules/
dist/
src-tauri/target/
src-tauri/gen/
*.tsbuildinfo
.DS_Store
Thumbs.db
arac/etw-sonda/target/
arac/etw-sonda/Cargo.lock
arac/ocr-sonda/target/
arac/ocr-sonda/Cargo.lock
arac/ocr-sonda/ornekler/
arac/ceviri-sonda/target/
arac/ceviri-sonda/Cargo.lock
arac/ceviri-sonda/model/
src-tauri/binaries/
